body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
  overflow: hidden;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.controls-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 250px; /* Adjusted width */
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.controls-container select,
.controls-container input[type="color"],
.controls-container input[type="range"],
.controls-container button {
  margin-bottom: 15px; /* Increased margin-bottom */
  width: 100%;
  font-size: 12px; /* Reduced font size */
  padding: 4px; /* Reduced padding */
}

.controls-container button {
  padding: 4px;
  background-color: #448e9f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls-container button:hover {
  background-color: #004080;
}

.canvas-container {
  flex: 1;
  height: 100vh;
  width: 100vw;
}