.App {
  display: flex;
  height: 100vh;
}

.panel {
  width: 600px !important;
  flex-shrink: 0; 
  padding: 20px;
  background: #f0f0f0;
  overflow-y: auto;
  overflow-x: auto;
  background-color: rgb(33, 33, 33);
}

.panel ul {
  padding-left: 20px;
  list-style-type: none;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border-radius: 50px;
  flex-grow: 1;
  margin: 5px 0;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
}

button:hover {
  border-color: #006902;
  border-width: 3px;
  font-weight: 600;
  background: rgb(251, 224, 200);
}

.toggle-icon {
  color: #ffffff;
  font-size: larger;
  margin-left: 10px;
  cursor: pointer;
}
